@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap');

body{
    font-family: 'Open Sans Condensed', sans-serif;
	color:black;
	text-align: center;
	margin: 0 auto;
}

header{
	border-top: 5px black;
}

nav ul{
	list-style-type: none;
    text-align: center;
    background-color: black;
    padding: 15px 0;
    margin-top:0;
}

nav li{
	display: inline;
    margin: 5px 10px;
}

nav a{
	text-decoration: none;
	padding-right: 10px;
}

nav a:link{
	color:purple;
}

nav a:visited {
	color:purple;
}

nav a:hover  {
	color:orange;
}

nav a:active  {
	color:lightblue;
}

main{
	max-width: 1200px;
	margin:0 auto;
}

.home-hero{
	background-image:url(photograph/hedgehog.jpg);
	height: 400px;
	width: 1200px;
	background-size:cover;
	background-position: center;
}    

footer{
	color:white;
	background-color: black;	
	display:block;
}

footer a:link{
    color:mediumpurple;
}

.footer-bottom{
	padding: 10px;
	color: mediumpurple;
	text-align:center;
	background-color: whitesmoke;
}

.icons .fa{
	font-size: 5px;
    color: mediumpurple;	
}
.icons{
	
    color: mediumpurple;
   
}

.gallery .preview{
    width:100%
    height:auto;
}

.gallery .gallery-thumbnails img {
    width:100px;
    height:75px;
    margin: 3px 10px 10px 0;
}

.gallery .gallery-thumbnails img:hover {
    opacity: .8;
    cursor: pointer;
}

.gallery .preview img#preview {
    padding: 1px;
    max-width: 100%;
    height: auto;
    margin: 0 auto !important;
    display: block !important;
}



/* CSS Adjustments for Tablets */
@media only screen and (max-width: 1024px) {
	h1{
		font-size: 1.8em;
	}
}

/* CSS Adjustments for Smartphones */
@media only all and (max-width: 768px) {
	h1{
	    font-size: 1.5em;
	}
}

